*.7z
*.bak
Projects/*.exe
src/*.c
src/*.asm
share
etc
*32.exe
VisualFBEditor32*
mff32*.dll
*.dll.a
VisualFBEditor.wiki
docompile.bat
Logs/
src/Temp.bas
src/Temp.rc
src/compile_out.txt
Examples/**/*64.exe
Settings/Workspace.ini
